// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Aladin');
$aladin-font: 'Aladin', cursive;
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC');
$carrois-Gothic-SC-font: 'Carrois Gothic SC', sans-serif;

video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
    }   

    
.title_gold{
    font-family: $carrois-Gothic-SC-font;
	margin-bottom: 20px !important;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 0;
    line-height: 66px;
    letter-spacing: 2px !important;
    color: #e0bc75
}

.title_white{
	font-family: $aladin-font;
	color: #fff !important;
}

.white-color{
	color: #fff !important;
}

.color-gold{
    color: #e0bc75
}

.margin-left-15{
    margin-left: 20px;
}

.promotional-icon-logo{
    color: #e0bc75;
    font-size: 20px;
    letter-spacing: 8px;
}
